:root {
    --background-emphasis: #FAFAFA;
    --background-base: #FFFFFF;
    --background_seperator: #F1F2F3;
    --text-base:#3D3E3F;
    --text-assistive:#949697;
    --text-deem: #FFFFFF;
    --primary-base: #1290FF;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --background-emphasis: #16181A;
        --background-base: #1D2126;
        --background-seperator: #15181D;
        --text-base:#D2D3D4;
        --text-assistive:#999B9D;
        --text-deem: #FFFFFF;
    }
}

html,
body {
    background-color: var(--background-base);
    font-family: roboto;
    font-size: 12pt;
    height: 100%;
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
    width: 100%;
}
.header {
    border-bottom: 1pt var(--background-seperator) solid;
    display: inline-block;
    max-width: 90%;
    padding: 17pt 17pt 17pt 17pt;
    width: 90%;
}
.center {
    justify-content: center;
}
.header > .icon {
    float: left;
    height: 40pt;
    max-height: 40pt;
    max-width: 40pt;
    padding-top: 6pt;
    width: 40pt;
}
.header > .container {
    max-width: 70%;
    padding: 6pt;
    width: 70%;
}
.header > .container > p {
    margin: 0px;
    overflow: hidden;
    padding: 2px 0px 2px 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main {
    background-color: var(--background-emphasis);
    height: 97%;
    padding: 6pt;
    width: 96%;
}
.main > .main-container {
    background-color: var(--background-base);
    margin-bottom: 6pt;
    padding: 17pt;
}

.title {
    color: var(--text-base);
    font-size: 16pt;
    font-weight: bold;
}
.type {
    color: var(--text-assistive);
    font-size: 12pt;
    font-weight: 200;
}
.separator {
    border-bottom: 1px solid var(--background-seperator);
    height: 7pt;
    margin-bottom: 4pt;
}
.points {
    color: var(--primary-base);
    float: right;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 5pt;
}
button {
    background: var(--primary-base);
    border: 1pt solid var(--primary-base);
    border-radius: 2pt;
    color: var(--text-deem);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 200;
    margin: 20pt auto;
    max-width: 100%;
    padding: 6pt 0pt;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

button > img {
    height: 14pt;
    margin: 15px 0px 0px 12px;
}
button > div {
    font-size: 1.1em;
    margin: 6pt;
}
article {
    color: #727272;
    font-size: 0.9em;
    text-align: left;
}

.subject {
    color: var(--primary-base);
    font-size: 1.1em;
    margin-bottom: 4pt;
}

.text {
    color: var(--text-base);
    font-size: 1.1em;
}
